<div class="bg-[#212A41] text-white p-10 lg:px-12 lg:py-28 flex mx-auto ">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-10 lg:gap-20">
    <div class="flex md:block gap-4">
      <%= image_tag('icons/icon_discount.png', srcset: { 'icons/icon_discount@2x.png' => '2x' }, class: 'mb-5 shrink-0 self-start') %>
      <p class=" lg:leading-normal">
        Обходим посредников и <span class="font-bold">экономим вам до 40% стоимости товаров</span>
      </p>
    </div>
    <div class="flex md:block gap-4">
      <%= image_tag('icons/icon_support.png', srcset: { 'icons/icon_support@2x.png' => '2x' }, class: 'mb-5 shrink-0 self-start') %>
      <p class="text-base lg:text-xl lg:leading-normal">
        <span class="font-bold">Обеспечиваем техподдержкой 24/7.</span> Гарантируем выезд техспециалиста в любую точку страны в течение 24 часов 
      </p>
    </div>
    <div class="flex md:block gap-4">
      <%= image_tag('icons/icon_guarantees.png', srcset: { 'icons/icon_guarantees@2x.png' => '2x' }, class: 'mb-5 shrink-0 self-start') %>
      <p class="text-base lg:text-xl lg:leading-normal">
      Минимизируем риски по вашему проекту и <span class="font-bold">несём полную юридическую и финансовую ответственность за результат</span>
      </p>
    </div>
  </div>
</div>

