<div class="px-5 md:px-10 lg:px-20 py-20 lg:py-40">

  <h2 class="md:text-5xl md:leading-snug mb-20 max-w-3xl">Всё, что нужно для производства электроники</h2>

  <div class="flex gap-20 disable-scrollbars overflow-x-scroll">
    <% [0, 1, 2, 3].each do |item| %>
      <img src="https://placehold.co/300x400" />
    <% end %>

  </div>
</div>
