<div class="bg-slate-900 text-white px-5 md:px-10 lg:px-20 py-20 lg:py-28">
  <div class="grid place-items-center grid-cols-2 gap-20">

    <%= image_tag('delivery.png', srcset: { 'delivery@2x.png' => '2x'}) %>

    <div class="text-2xl">

      <p class="mb-10">Срок поставки заказа с момента его оформления</p>

      <div class="flex flex-col lg:flex-row gap-4 lg:gap-20">
        <p><span class="font-bold block">до 2 недель</span> по Перми и Екатеринбургу</p>
        <p><span class="font-bold block">до 4 недель</span> в любую точку России</p>
      </div>
    </div>
  </div>
</div>
