<div class="flex flex-col gap-4 bg-gradient-to-b from-sky-50 mb-5 p-8">
  <% [ "Установщики компонентов", "Трафаретные принтеры", "Диспенсеры паяльной пасты", "Печи оплавления припоя", "Печи для THT пайки", "BGA", "Системы контроля", "Загрузка и выгрузка плат", "Миксеры паяльной пасты", "Счетчики компонентов", "Обработка кабелей", "Принадлежности"].each do |item| %>
    <a href="/pages/catalog-category" class="text-base hover:text-sky-800 text-sky-600"><%= item %></a>
  <% end %>
</div>
