<%= render Section::HeroCatalogCategoryComponent.new %>

<div class="bg-white">
  <div class="pb-10 xl:py-20">
    <%= render Section::CategoryListComponent.new %>
  </div>
    <%= render Section::DeliveryComponent.new %>
  <%= render Section::FooterComponent.new %>
</div>
