<%= render Section::HeroItemComponent.new %>

<div class="bg-white">
  <div class="py-10 xl:py-20">
    <%= render Section::ItemInfoComponent.new %>
  </div>
    <%= render Section::DeliveryComponent.new %>
</div>
