  <%= render Section::HeroCatalogComponent.new %>

<div class="lg:relative lg:bg-white">
  <div class="lg:py-20">
    <%= render Section::CatalogListComponent.new %>
  </div>
    <%= render Section::DeliveryComponent.new %>
    <%= render Section::FooterComponent.new %>
</div>
