<%= render Section::HeroItemComponent.new %>

<div class="bg-white">
  <div class="pt-10 md:pt-20">
    <%= render Section::ItemInfoComponent.new %>
  </div>
    <%= render Section::DeliveryComponent.new %>
  <%= render Section::FooterComponent.new %>
</div>
