<%= render Section::HeroSearchComponent.new %>

  <div class="py-10 xl:py-20">
    <div class="p-5 bg-yellow-100 mx-5 md:mx-10 lg:mx-20 md:mb-10">Вы искали: "CD-33dhe9e838", но мы ничего не нашли. Посмотрите остальное оборудование или напишите на <a href="#">order@smt-line.ru</a>. Мы часто работаем с нестандартным оборудованием, напишите нам что вы ищете и мы можем придумать что-нибудь.</div>
    <%= render Section::CategoryListComponent.new %>
  </div>

<%= render Section::FooterComponent.new %>
