<article href="#" class="group break-inside-avoid overflow-hidden  relative">
  <a href="#" class="overflow-hidden bg-white block isolate rounded-2xl">
    <img src="<%= @photo %>" class="group-hover:scale-110 transition-all duration-300 w-full h-72 -z-10 object-contain" />
  </a>
  <div href="#" class="p-5">
    <a href="" class="text-orange-500 text-base hover:text-orange-600 font-medium">[<%= @category %>]</a>
    <a href="#" class="block text-2xl text-white hover:opacity-80">
      <%=  @title %>
    </a>
  </div>
</article>
