<article class="group break-inside-avoid overflow-hidden  relative">
  <a href="/pages/catalog-item" class="overflow-hidden bg-white block isolate">
    <img src="<%= @photo %>" class="scale-75 group-hover:scale-100 transition-all duration-300 w-full h-72 -z-10 object-contain" />
  </a>
  <div class="p-5">
    <a href="/pages/catalog-item" class="text-orange-500 text-base hover:text-orange-600 font-medium">[<%= @category %>]</a>
    <a href="#" class="block text-2xl text-white group-hover:text-sky-500">
      <%=  @title %>
    </a>
  </div>
</article>
