<div class="py-10 md:py-40 lg:py-56">
  <%= render Grid::TitleContentComponent.new do |c| %>

    <% c.with_title do %>
      <div class='flex gap-6 font-bold text-2xl md:text-4xl items-center'>
        <%= image_tag('logo.png', srcset: { 'logo@2x.png' => '2x' }, alt: 'SMT-Line', class: 'w-fit object-contain scale-125 shrink-0') %>
        <span class="mr-4 whitespace-nowrap">
          СМТ-Лайн
        </span>
      </div>
    <% end %>

    <p>
    Нашей компании 12 лет. За это время мы изучили рынок оборудования, как свои 5 пальцев, наладили логистику, собрали пул опытнейших инженеров, запустили научно-исследовательские и опытно-конструкторские работы, научились объединять лучшие решения внедрять оборудование под ваши нужды: от кассовых аппаратов — до специализированной электроники.
    </p>

  <% end %>
</div>
