<div class="grid bg-slate-900 pb-16 xl:grid-cols-2 gap-20 text-white px-5 md:px-10 lg:px-20">

    <div class="w-full p-8 lg:p-12 bg-gradient-to-b from-slate-800/60">
      <div class="mb-10">
        <%= render Element::TitleComponent.new(title: "Заявка на бесплатную консультацию или предварительный расчёт", type: :h2) %> 
      </div>

      <div class="space-y-4 text-base">
        <div class="grid md:grid-cols-3 md:gap-10">
          <label for="name" class="col-span-1">Ваше имя</label>
          <input type="text" id="name" placeholder="Имя" class="appearance-none px-3 py-2 border border-slate-700 col-span-2"/>
        </div>
        <div class="grid md:grid-cols-3 md:gap-10">
          <label for="contacts" class="col-span-1 ">Телефон или email</label>
          <input type="text" id="contacts" class="appearance-none px-3 py-2 border border-slate-700 col-span-2"/>
        </div>
        <div class="grid md:grid-cols-3 md:gap-10">
          <label for="message" class="col-span-1">Вопрос или предложение</label>
          <textarea rows="8" type="text" id="message" class="appearance-none px-3 py-2 border border-slate-700 col-span-2"></textarea>
        </div>

        <div class="grid md:grid-cols-3 md:gap-10">
          <div class="col-start-2 col-span-2">
            <%= render ButtonComponent.new(link: "#", title: "Отправить сообщение", type: :primary) %>
          </div>
        </div>
      </div>
  </div>

  <div>
    <div class="md:text-3xl mb-10">
      <p class="mb-5">+7 343 384 55 21</p>
      <a href="#" class="hover:text-sky-500">order@smt-line.ru</a>
    </div>

    <span class="h-1 w-full bg-slate-800 block my-10"></span>

    <p class="mb-5">ООО «Кор Системс»</p>

    <div class="mb-10">
      <p class="mb-2 text-orange-500 font-medium">[ Адрес ]</p>
      <p>г. Екатеринбург ул. Дошкольная, 4-4</p>
    </div>

    <div class="mb-10">
      <div class="mb-5">
        <p class="mb-2 text-orange-500 font-medium">[ Адрес склада ]</p>
        <p>г. Пермь ул. Уральская, 69</p>
      </div>
      <div>
        <p class="mb-2 text-orange-500 font-medium">[ Warehouse ]</p>
        <p>	614014, Russia, Perm, Uralskaya 69, of 22</p>
      </div>
    </div>

    <div class="grid grid-cols-3 gap-5">
      <div>
        <p class="mb-2 text-orange-500 font-medium">[ ИНН ]</p>
        <p>6679102959</p>
      </div>
      <div>
        <p class="mb-2 text-orange-500 font-medium">[ КПП ]</p>
        <p>667901001</p>
      </div>
      <div>
        <p class="mb-2 text-orange-500 font-medium">[ ОГРН ]</p>
        <p>1169658135987</p>
      </div>
    </div>

  </div>
</div>
