<div class="grid lg:grid-cols-2 gap-20 text-white px-5 md:px-10 lg:px-20">
  <div class="text-4xl">
    <p class="mb-10">+7 343 384 55 21</p>
    <a href="#" class="hover:text-sky-500">order@smt-line.ru</a>
  </div>
  <div>
    <p class="mb-5">ООО «Кор Системс»</p>

    <div class="mb-10">
      <p class="mb-2 text-orange-500 font-medium">[ Адрес ]</p>
      <p>г. Екатеринбург ул. Дошкольная, 4-4</p>
    </div>

    <div class="mb-10">
      <div class="mb-5">
        <p class="mb-2 text-orange-500 font-medium">[ Адрес склада ]</p>
        <p>г. Пермь ул. Уральская, 69</p>
      </div>
      <div>
        <p class="mb-2 text-orange-500 font-medium">[ Warehouse ]</p>
        <p>	614014, Russia, Perm, Uralskaya 69, of 22</p>
      </div>
    </div>

    <div class="grid grid-cols-3 gap-5">
      <div>
        <p class="mb-2 text-orange-500 font-medium">[ ИНН ]</p>
        <p>6679102959</p>
      </div>
      <div>
        <p class="mb-2 text-orange-500 font-medium">[ КПП ]</p>
        <p>667901001</p>
      </div>
      <div>
        <p class="mb-2 text-orange-500 font-medium">[ ОГРН ]</p>
        <p>1169658135987</p>
      </div>
    </div>

  </div>
</div>
