<section class="bg-slate-900 text-white">

  <!-- start navbar -->
  <%= render Section::NavbarComponent.new %>
  <!-- end navbar -->

  <div class="pb-10">
  <%= render Grid::HeroSecondPageComponent.new do |c| %>
    <%= render Element::TitleComponent.new(title: "Результаты поиска", type: :h1) %>

    <% c.with_action do %>
      <%= link_to "Отдел продаж", modal_path, data: { turbo_frame: 'modal' }, class: "inline-block border-2 border-white/30 hover:border-orange-400/50 hover:text-orange-400 flex-nowrap text-center w-auto rounded-full px-8 sm:px-8 py-3 font-medium" %>
    <% end %>
  <% end %>
  </div>

</section>
