<section class="bg-slate-900 text-white">

  <!-- start navbar -->
  <%= render Section::NavbarComponent.new %>
  <!-- end navbar -->

  <div class="mb-20">
  <%= render Grid::HeroSecondPageComponent.new do |c| %>
    <%= render Element::TitleComponent.new(title: "Контакты", type: :h1) %>

    <% c.with_action do %>
      <%= render ButtonComponent.new(link: "/contact", title: "Отдел продаж", type: :primary) %>
    <% end %>
  <% end %>
  </div>

</section>
