<section class="bg-slate-900 pb-10 md:pb-16 lg:pb-20  text-white">

  <!-- start navbar -->
  <%= render Section::NavbarComponent.new %>
  <!-- end navbar -->

  <div class="">


    <%= render Grid::HeroSecondPageComponent.new do |c| %>

      <div class="text-base mb-5">
        <a href="/pages/catalog" class="hover:text-sky-500">Каталог</a>
        <span class="text-slate-500 mx-4"> / </span>
        <a class="text-slate-500">Установщики компонентов</a>
      </div>

      <div class="mb-5 lg:mb-2">
        <%= render Element::TitleComponent.new(title: "Установщики компонентов", type: :h1) %>
      </div>

      <a href="#" class="underline decoration-1 decoration-sky-600 hover:text-sky-500">Что такое установщики компонентов</a>

      <% c.with_action do %>
      <%= link_to "Отдел продаж", modal_path, data: { turbo_frame: 'modal' }, class: "inline-block border-2 border-white/30 hover:border-orange-400/50 hover:text-orange-400 flex-nowrap text-center w-auto rounded-full px-8 sm:px-8 py-3 font-medium" %>
      <% end %>
    <% end %>
  </div>


</section>
