<nav class="mb-20 flex flex-col gap-5 py-5 px-5 md:px-10 xl:px-20 bg-slate-900 md:py-10 text-white lg:flex-row justify-between">

  <div class="flex flex-col md:flex-row  w-full gap-8">

    <div class="flex gap-8 w-full justify-between items-center">
      <div class="flex justify-between w-full sm:justify-start gap-8 items-center">
        <%= link_to root_path, class: 'flex gap-3 text-white font-bold items-center' do %>
          <%= image_tag('logo.png', srcset: { 'logo@2x.png' => '2x' }, alt: 'SMT-Line', class: 'w-fit object-contain shrink-0') %>
          <span class="hidden mr-4 lg:block whitespace-nowrap">
            СМТ-Лайн
          </span>
        <% end %>

        <div class="flex items-center gap-4">

          <div class="gap-2 items-center hidden md:flex">
            <input type="text" placeholder="Поиск по каталогу" class="rounded-md flex px-4 py-2 bg-slate-800 placeholder:text-slate-500 hover:bg-slate-600 focus:bg-slate-100 md:w-full transition-all duration-150">

            <a href="/pages/catalog" class="flex p-2 hover:bg-sky-800/20 rounded-md gap-2 hover:text-sky-500 items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor"> <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" /> </svg>
              <span class="hidden sm:inline-block">
                Каталог
              </span>
            </a>
          </div>

          <div class="flex gap-4 items-center">
            <a href="/pages/catalog" class="md:hidden flex gap-2 items-center">
              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor"> <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" /> </svg>
              Каталог
            </a>
            <a href="/pages/contacts" class="sm:hidden">Контакты</a>
          </div>
        </div>
      </div>

      <div class="sm:flex hidden divide-x divide-slate-500">
        <a href="#" class="whitespace-nowrap pr-4">+7 (343) <span class="font-bold">384 55 31</span></a>
        <a href="#" class="px-4 hidden lg:inline-block hover:text-sky-500">Написать</a>
        <a href="/pages/contacts" class="pl-4 hidden sm:inline-block hover:text-sky-500">Контакты</a>
      </div>
    </div>

    <!-- only for small screen -->
    <div class="flex md:hidden gap-4 justify-between lg:self-center">
      <input type="text" placeholder="Поиск по сайту" class="rounded-md px-4 py-2 bg-slate-800 placeholder:text-slate-500 focus:bg-slate-100 flex w-full transition-all duration-150">

    </div>
  </div>
</nav>
