<div class="grid grid-cols-1 md:grid-cols-3 xl:grid-cols-4 gap-10 md:gap-20 px-5 md:px-10 lg:px-20">

  <aside class="md:col-span-1">
    <%= aside %>
  </aside>

  <div class="md:col-span-2 xl:col-span-3 md:col-start-2 md:leading-relaxed">
    <%= content %>
  </div>
</div>
