<div class="grid  grid-cols-1 md:grid-cols-3 gap-10 lg:gap-20 px-5 md:px-10 lg:px-20">
  <div class="col-span-2">
    <%= content %>
  </div>
  <div class="md:justify-self-end">
    <%= action %>
  </div>
</div>
