<div class="grid grid-cols-1 md:grid-cols-3 gap-10 md:gap-20 px-5 md:px-10 lg:px-20">

  <div class="row-start-1 md:col-span-3">
    <%= title %>
  </div>

  <div class="md:col-span-2 md:col-start-2 md:row-start-2 md:text-2xl md:leading-relaxed">
    <%= content %>
  </div>
</div>
